/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .mageso-onlice-sec, .mageso-offline-sec {
    text-align: center;
}

.mageso-onlice-sec h3, .mageso-offline-sec h3 {
    font-weight: normal !important;
    margin: 5px 0 0;
    padding: 0;
    text-transform: capitalize;
    font-size: 20px !important;
    border-radius: 5px;
}

.mageso-onlice-sec {
    border: 5px solid green;
    /* display: inline-block; */
    padding: 10px;
    background: #f0fff0;
    margin: 0 auto;
    width: 35vw;
    color: #000;
}

.mageso-offline-sec{
    border: 5px solid red;
    /* display: inline-block; */
    padding: 10px;
    background: #ffe9e9;
    margin: 0 auto;
    width: 36vw;
    color: #000;
}

.mageso-show-current-time {
    text-align: center;
    background: #52514b;
    color: #fff;
    width: 25vw;
    margin: 1px auto;
    font-weight: bold;
    display: block;
    border-radius: 5px;
}

