/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 #wpbody-content .metabox-holder {
    padding-top: 10px;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}
.metabox-holder h2 {
    display: none;
}